/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root{
    --main-color-white: white;
    --main-color: hsla(0,100%,80%, 0.3);
    --main-color-black: black;
    --main-color-gray: gray;

    --z-index-header: 100;
    --z-index-mobile : 999;
    --z-index-overlay: 990;
}