.competence .container{
    margin: 0 auto;
    border-top: 0.1px solid lightblue;
}
/*.competence .container .techno-item li,
.competence .container .techno-item progress{
    height: 20px;
    width: 250px;
    line-height: 20px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 0;
    }*/
.competence .container .techno-item .list-item{
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 200px;
    font-size: 1.5rem;
    padding:  10px;
    cursor: pointer;
}
.competence .container .techno-item  {
    
    margin-bottom: 45px;
   
}
.competence .container .techno-item .list-item:hover{
    transform: scale(1.01);
}

.competence .container h1{
    background-image: linear-gradient(to right, rgba(0,0,255,0), rgba(0,0,255,1));
}



/*********** media queries *************/

@media (max-width: 576px) {
    
}
@media (max-width: 768px) {
    .competence .container .techno-items{
        flex-direction: column;
    }
    .competence .container .techno-items .list-item{
        font-size: 1.3rem;
    }
   
}
@media (max-width: 992px) {
   
    .competence .container .techno-item .list-item{
        
        font-size: 1rem;
    }
}
@media (max-width: 1200px) {

}
@media (max-width: 1400px) {

}