/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.course p{
    font-size: 1.5rem;
}
.course .container{
    margin: 0 auto;
}

.course-item h4{
    text-align: center;
    font-size: 1.8rem;
    text-decoration: underline;
}

em{
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 35px;
    cursor: pointer;
}

/*********** media queries *************/

@media (max-width: 576px) {
    
}
@media (max-width: 768px) {
    header{
        margin: auto 10px;
    }
}
@media (max-width: 992px) {
   .course-content{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
   }
}
@media (max-width: 1200px) {

}
@media (max-width: 1400px) {

}
