/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

header{
    margin:  0 auto;
    width: 100%;
    border: 2px solid red;
}
header .nav {
    top: 15px;
    left: 18%;
}
header .nav i{
    font-size: 2.5rem;
}
header .descript{
    text-align: center;
}
div.profil{
    /*border: 0.1px solid var(--main-color-gray);*/
    width: 300px;
    height: 300px;
    border-radius: 350px;
    /*background-color: var(--main-color-black);*/
    margin: 0 auto;
}
.profil img{
    width: 95%;
    height: 95%;
    border-radius: 300px;
}
#toggle-bars{
    color: blue;
}

/*********** media queries *************/
@media (max-width: 350px) {
     div.profil{
        max-width: 300px;
        max-height: 300px;
        border-radius: 350px;
        
        margin: 0 auto;
    }
}
@media (max-width: 576px) {
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
    }

   
}
@media (max-width: 768px) {

}
@media (max-width: 992px) {
   
}
@media (max-width: 1200px) {

}
@media (max-width: 1400px) {
    header{
    margin:  0 auto;
    width: 90%;
    }
}