nav .nav-content{
    top: 10px;
    left: 0;
    width: 360px;
    height: 100vh;
    z-index: var(--z-index-mobile);
    box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.2);
    background-color: lightgrey;
}
nav ul.nav-items {
    top: 50px;
    left: 10px;
    width: 300px;
}
nav .nav-items li{
    padding: 15px;
    font-size: 1.9rem;
    width: 100%;
    color: blue;
}
nav .nav-items li:hover{
    color: white;
    cursor: pointer;
    box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
}
nav i.close-nav {
    cursor: pointer;
    top: 10px;
    left: 85%;
    color: blue;
}
nav i.close-nav {
    font-size: 2.5rem;
}
nav i.close-nav:hover {
    font-size: 2.6rem;
    cursor: pointer;
}