nav .nav-items{
    top: 10px;
    left: 0;
    width: 300px;
    height: 100vh;
    z-index: var(--z-index-mobile);
}
nav .nav-items li{
    cursor: pointer;
}
nav .close-nav {
    cursor: pointer;
    top: 10px;
    left: 15%;
    width: 55px;
    height: 60px;
}
nav .close-nav i{
    font-size: 2.5rem;
}