/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.project .container{
    margin: 0 auto;
    
}

.project .project-item{
    cursor: pointer;
    
}
.project .project-details {
    font-size: 1.5rem;
    padding: 10px;
    text-align: justify;
}
.project .project-details .title{
    font-weight: bold;
    text-decoration: underline;
}
.project .project-item:hover{
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
    
}

.project-item .image img{
    width: 600px;
    height: 350px;

}

.project-item .link-project {
    color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*********** media queries *************/

@media (max-width: 576px) {
   

    .project-item .image img{
    max-width: 300px;
    height: 350px;
    }
}
@media (max-width: 576px) {
    
    .project-item .image img{
        width: 90%;
    
    }

    .project-item .image img{
    max-width: 300px;
    height: 350px;
    }
}

@media (max-width: 768px) {
   
    .project-item .image img{
    max-width: 400px;
    height: 350px;
    }
}
@media (max-width: 992px) {
   .project-item .image img{
    max-width: 600px;
    height: 350px;

}
}
@media (max-width: 1200px) {
    .project-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .project-item{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .project-item .image img{
        width: 100%;
    
    }
}
@media (max-width: 1400px) {

}